.big-text {
  font-weight: 700;
  font-size: 3rem;
}

.medium-text {
  font-weight: 500;
  font-size: 1.5rem;
}

.hover {
  transition: 0.5s;
  &:hover {
  color: rgb(241, 255, 113);
  transition: 0.5s;
  }
}

.link {
  text-decoration: none;
  color: white;
}

.icon {
  margin-left: 1rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
}

.button-container-animation {
  position: relative;
  display: flex;
  align-items: center;
  width: 7.3rem;
  height: 3.3rem;
}

.btn-navbar {
  justify-content: center;
}

.btn-form {
  justify-content: flex-start;
}

.button {
  position: absolute;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  border: solid white 1px;
  border-radius: 4px;
  padding: 0.5rem;
  transition: 0.5s;
  &:hover {
    color: rgb(241, 255, 113);
    transform: scale(1.1, 1.1);
    transition: 0.5s;
  }
}

.checked {
  background-color: transparent;
  margin-right: 1rem;
  position: relative;
  appearance: none;
  border-radius: 4px;
  border: 1px solid white;
  height: 20px;
  min-width: 20px;
  width: 20px;
  &:checked {
    background-color: white;
  }
  &:focus {
    outline: none;
  }
}
