.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  background: rgba(46, 43, 54, 0.571);
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.input-field {
  font-size: 1rem;
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  border: none;
  padding: 4px 8px;
  margin: 0.8rem 0;
  &:focus {
    outline: none;
  }
}

.submit {
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  border: solid white 1px;
  border-radius: 4px;
  padding: 0.5rem;
  transition: 0.5s;
  &:hover {
    color: rgb(241, 255, 113);
    padding: 0.7rem;
    transition: 0.5s;
  }
}