// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  justify-content: center;
  width: 100%
}

.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  flex-shrink: 1;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  background: rgba(46, 43, 54, 0.571);
  padding: 1rem 1.5rem 0 1.5rem;
  border-radius: 8px;
}

.task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.mb {
  margin-bottom: 0.8rem;
}

.task-title {
  max-width: 100%;
  max-height: 28px;
  overflow: hidden;
}
